body {background-color: #FEF9E7 ;}
.fondotitulo {background-color:#AAB7B8 ;
font-size:300%;
text-align: center;}
.subtitulo{font-size:200%;
font-family: fantasy;color: #E67E22;
text-decoration: underline;}
.parrafo{font-family: cursive;text-align: justify;}
.imgolla{height:450px;}
