body {background-color:black;

}

.logo{ display: flex;
justify-content: center;
margin: 30px;
}

.fondotitulo {
  font-family: Bernard MT Condensed;
  font-size:150%;
  margin: 25px
}

.Navegador {display: inline-block;
font-family: monospace;
font-size: 200%;
text-align: justify;
}

.titulo{font-size:300%;
  background-color: orange;
font-family: fantasy; color:black ;
text-decoration: underline;
text-align: center;}

.imagen{ display: flex;
justify-content: center;}

.subtitulo{font-size:200%;
  background-color: orange;
font-family: fantasy;color:black ;
text-decoration: underline;
text-align: left;}

.parrafo{font-family: cursive; text-align: justify;
}

.redes {background-color: orange;
  margin: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.whats {
width: 50px;
position: fixed;
bottom: 10px;
right: 15px}

.piepagina{font-family: cursive;
text-align: center;}


header {background-color:#ABB2B9;
  display: flex;
justify-content: center;
justify-content: space-around;
flex-wrap: wrap;}

nav {background-color:#ABB2B9;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;}

section {background-color: #ABB2B9;
  display:block;
}
aside {display: flex;
  justify-content: center;
  justify-content: space-around;

}
footer {background-color:#ABB2B9;
  background-size:cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
align-items: center;}
